aiohttp==3.8.4
aiosignal==1.3.1
altgraph @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
annotated-types==0.6.0
anyio==3.6.2
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.2.0
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
backoff==1.10.0
beautifulsoup4==4.11.1
bleach==5.0.1
blis==0.7.9
cachetools==5.3.0
catalogue==2.0.8
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.0.4
cloudpathlib==0.16.0
cmudict==1.0.13
confection==0.0.4
cymem==2.0.7
debugpy==1.6.4
decorator==5.1.1
defusedxml==0.7.1
Distance==0.1.3
distlib==0.3.6
distro==1.9.0
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0-py3-none-any.whl#sha256=b492fd2dfeee931dd60232fd1a122bb5c3542ebcd5d614f11844647050aa539e
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==1.2.0
fastjsonschema==2.16.2
filelock==3.12.0
frozenlist==1.3.3
future @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
g2p-en==2.1.0
geojson==3.0.1
google-api-core==2.11.0
google-auth==2.16.1
googleapis-common-protos==1.58.0
h11==0.14.0
httpcore==1.0.4
httpx==0.27.0
idna==3.4
imagesize==1.4.1
importlib-metadata==5.1.0
importlib-resources==5.10.2
inflect==6.0.2
iniconfig==2.0.0
ipykernel==6.17.1
ipython==8.7.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-server==1.23.3
jupyter_client==7.4.7
jupyter_core==5.1.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
labelbox==3.38.0
langcodes==3.3.0
lemminflect==0.2.3
macholib @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
mistune==2.0.4
multidict==6.0.4
murmurhash==1.0.9
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.5
nbformat==5.7.0
ndjson==0.3.1
nest-asyncio==1.5.6
nltk==3.8
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.24.1
openai==1.14.1
opencv-python==4.7.0.72
openpyxl==3.1.2
packaging==21.3
pandas==2.0.3
pandas-stubs==2.0.2.230605
pandocfilters==1.5.0
parso==0.8.3
pathy==0.10.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pipenv==2023.5.19
platformdirs==3.5.1
pluggy==1.4.0
preshed==3.0.8
prometheus-client==0.15.0
prompt-toolkit==3.0.33
protobuf==4.22.0
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.10.14
pydantic_core==2.16.3
pyGeoTile==1.0.6
Pygments==2.13.0
pyparsing==3.0.9
pyproj==3.4.1
pyrsistent==0.19.2
pytest==8.1.1
python-datamuse==1.3.2
python-dateutil==2.8.2
python-http-client==3.3.7
pytz==2023.3
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
regex==2022.10.31
requests==2.28.1
rsa==4.9
Send2Trash==1.8.0
sendgrid==6.11.0
shapely==2.0.1
six @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/six-1.15.0-py2.py3-none-any.whl
smart-open==6.3.0
sniffio==1.3.0
SoundsLike==0.0.11
soupsieve==2.3.2.post1
spacy==3.5.4
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.5
stack-data==0.6.2
starkbank-ecdsa==2.2.0
terminado==0.17.0
thinc==8.1.12
tinycss2==1.2.1
tomli==2.0.1
tornado==6.2
tqdm==4.64.1
traitlets==5.6.0
typeguard==2.13.3
typer==0.4.2
types-pytz==2023.3.0.0
typing_extensions==4.10.0
tzdata==2023.3
urllib3==1.26.13
virtualenv==20.23.0
virtualenv-clone==0.5.7
wasabi==0.10.1
wcwidth==0.2.5
weasel==0.3.4
webencodings==0.5.1
websocket-client==1.4.2
widgetsnbextension==4.0.3
yarl==1.8.2
zipp==3.11.0
